@font-face {
  font-family: 'Palatino';
  src: url('fonts/PALA.TTF');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  transform: translateX(-50%);
}
#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
}

#unity-canvas { background: #000000 }

.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 154px;
  height: 130px;
  background: url("unity-logo-dark.png")
    no-repeat center;
}
#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url("progress-bar-empty-dark.png")
    no-repeat center;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-dark.png")
    no-repeat center;
}
#unity-footer {
  position: relative;
  margin-top: 1rem;
}
#unity-footer::before {
  content: url('frame-update.png');
  position: absolute;
  z-index: 10;
  top: -632px;
  left: -15px;
  pointer-events:none;
}
.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
}
#unity-build-title {
  float: right;
  margin: 0 10px;
  line-height: 38px;
  font-family: 'Palatino', Arial, sans-serif;
  font-size: 1.5rem;
  color: #fbeec7;
}
#unity-fullscreen-button {
  cursor: pointer;
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button-medieval-update.png") no-repeat center;
}
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}

.welcome {
  color: #fbeec7;
  position: relative;
  /* max-width: 570px; */
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.welcome__logo img {
  display: block;
  width: 1000px;
  height: 400px;
}

.welcome__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.welcome__email {
  /* width: 100%;
  position: relative;
  left: 1rem;
  bottom: 0.2rem; */
  font-family: 'Palatino', Arial, sans-serif;
  color: #fbeec7;
  font-size: 0.8em;
}

.welcome__email a {
  /* text-decoration: none; */
  color: whitesmoke;
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  font-family: 'Palatino', Arial, sans-serif;
  /* color: #fbeec7; */
}

.btn {
  display: block;
  /* padding: 0.8rem 40px; */
  padding: 0.75rem 40px;

  /* height: 51px;
  width: 196px; */
  height: 40px;
  width: 154px;

  background-color: #333;
  background: url('icons/diablo3_button.png');
  background-size: cover;

  display: flex;
  justify-content: center;

  cursor: pointer;
  color: inherit;
  font-family: 'Palatino', Arial, sans-serif;
}

.btn span {
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
  /* font-size: 0.7rem; */
  font-size: 0.8rem;
}

.btn .small {
  font-size: 0.5rem;
}

.play-btn {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 35px;
}

.play-btn span {
  letter-spacing: 0.1rem;
}

.link-btn {
  text-decoration: none;
}

.video-btn {
  /* padding: 0.8rem 35px; */
  padding: 0.75rem 30px;
}

.wrapper {
  max-width: 1100px;
  margin: 5vh auto 0;
}

.return-btn {
  position: relative;
  top: 28px;
  z-index: 12;
  cursor: pointer;
  width: 38px;
  height: 38px;
  background: url("return-button-medieval-update.png") no-repeat center;
}

.hidden {
  display: none;
}

/* || FOR BIG SCREENS */
@media screen and (min-width: 900px) {
  .welcome {
    max-width: 890px;
  }

  .welcome__logo img {
    width: 1024px;
    height: 394px;
  }

  .welcome__menu {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .welcome {
    max-width: 1100px;
  }
  .welcome__logo img {
    width: 630px;
    height: 630px;
  }
  .btn {
    padding: 0.9rem 40px;
    height: 51px;
    width: 196px;
  }
  .btn span {
    font-size: 1.1rem;
  }
  .btn .small {
    font-size: 0.6rem;
  }
  .video-btn {
    padding: 0.9rem 35px;
  }
  .video-btn img {
    width: 17px;
    height: 17px;
  }
}
